/* Main Body Styling. */
/* Client specifies to LIMIT alignment to FLEXBOX. */
.section_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styling */
.header-container {
    background-color: #120323;
    color: #97bf04;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

/* Flex for all items that are not header and footer. */
#container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Figure Styling */
figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        border: 3px solid #d9043d;
        
        object-fit: cover;
        max-width: 300px;
        height: 100%;
    }
    figcaption {
        padding: 10px;
    }
}

/* Sets aside to green */
aside {
    background-color: #97bf04;
    padding: 10px;
}

/* Sets footer to red */
footer {
    background-color: #d9043d;
    padding: 25px;
    text-align: center;
}

/* Changes container class to do vertical. Places aside child to bottom */
/* Client specified devices LESS THAN 1000px, hence why 999px */
@media screen and (max-width: 999px){
    #container {
        display: flex;
        flex-direction: column;
    }
}

/* Sets image to be 100% width and caption to be below image */
/* Header alignment is now vertical */
@media screen and (max-width: 767px){
    .header-container {
        flex: auto;
        flex-direction: column;
    }

    figure {
        display: flex;
        flex-direction: column;

        img {
            max-width: 100%;
            height: auto;
          }
    }   
}